---
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/docs.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/article.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/survey.css" | prepend: site.baseurl }}">
    <link href="https://surveyjs.azureedge.net/1.0.28/survey.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="page-content-wrapper">

      {% include header.html %}

      <article>
        <div class="post-content">
            <script defer src="https://surveyjs.azureedge.net/1.0.28/survey.jquery.min.js"></script>
            <script defer src="/scripts/survey.js"></script>
            <h1>Your Feedback Matters</h1>
            <div id="surveyContainer"></div>
        </div>
        {% include footer.html %}
      </article>

    </div>

    {% include search.html %}

  </body>

</html>

