<script defer src="/scripts/cookie-notice.js" type="text/javascript"></script>
<div class="cookie-notice">
    <div class="close-icon"></div>
    <div class="cookie-notice-content">
        <div class="cookie-notice-message">
            <div class="cookie-notice-header">Why We Use Cookies</div>
            <div class="cookie-notice-text">This site uses cookies to make your browsing experience more convenient and personal. Cookies store useful information on your computer to help us improve the efficiency and relevance of our site for you. In some cases, they are essential to making the site work properly. By accessing this site, you consent to the use of cookies. For more information, refer to DevExpress' <a href="https://www.devexpress.com/AboutUs/privacy-policy.xml" target="_blank">privacy policy</a> and <a href="https://www.devexpress.com/AboutUs/cookie-policy.xml" target="_blank">cookie policy</a>.</div>
        </div>
        <div class="cookie-notice-button">I understand</div>
    </div>
</div>