<script defer src="/scripts/header.js" type="text/javascript"></script>
<header class="site-header minimized">
  <div class="site-header-content clearfix">
    <a class="site-logo" href="{{ site.baseurl }}/"></a>
    <nav class="site-nav">
        {% for menuItem in site.data.top-menu-items %}
          {% if menuItem.url == '/' %}
          <a {% if menuItem.id %}id="{{ menuItem.id }}" {% endif %}class="page-link {% if menuItem.url == page.permalink %}active{% endif %}" href="{{ menuItem.url | prepend: site.baseurl }}">{{ menuItem.text }}</a>
          {% else %}
          {% capture highlightUrl %}{% if menuItem.highlightUrl %}{{ menuItem.highlightUrl }}{% else %}{{ menuItem.url }}{% endif %}{% endcapture %}
          <a {% if menuItem.id %}id="{{ menuItem.id }}" {% endif %}class="page-link {% if page.url contains highlightUrl %}active{% endif %}" href="{% if menuItem.external %}{{ menuItem.url}}{% else %}{{ menuItem.url | prepend: site.baseurl }}{% endif %}"{% if menuItem.external %} target="_blank"{% endif %}>{{ menuItem.text }}</a>
          {% endif %}
        {% endfor %}
        <div class="separator">|</div>
        <a href="https://twitter.com/TestCafeStudio" target="_blank"><div class="twitter-button"></div></a>
        <!-- <div class="search-button"></div> -->
    </nav>

  </div>
</header>