<ul>
{% for item in include.content %}
	{% capture itemName %}{% if item.name %}{{ item.name }}{% elsif item.url %}{{ item.url }}{% else %}Unknown item: {{ item }}{% endif %}{% endcapture %}
	{% capture itemUrl %}{{ item.url | remove: "README.md" | replace: ".md", ".html" }}{% endcapture %}
    <li>
		{% include tree-view-item.html url=itemUrl name=itemName level=include.level content=item.content%}
		{% if item.content and page.url contains itemUrl%}
		    {% capture newLevel %}{{ include.level | plus: 1 }}{% endcapture %}
			{% include tree-view.html content=item.content level=newLevel %}
		{% endif %}
    </li>
{% endfor %}
</ul>