<script defer src="/scripts/video-playlist.js" type="text/javascript"></script>
<div class="yt-playlist">
    <div class="yt-player">
        <iframe id="yt-iframe" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="video-list">
        {% for videoSection in site.data.videos %}
            <div class="video-section">
                <div class="section-name">{{ videoSection.section }}</div>
                <div class="section-content">
                    {% for video in videoSection.videos %}
                        <div class="video" data-video-id="{{ video.id }}">
                            <div class="video-name">{{ video.name }}</div>
                            <div class="video-duration">{{ video.duration }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
