---
layout: landing
title: A cross-platform IDE for end-to-end web testing
description: You can create and maintain tests without coding using the built-in Visual Test Recorder. TestCafe Studio does not require WebDriver, browser plugins or other tools. It works on Windows, macOS and Linux.
permalink: /
---
{% include youtube-video-init.html %}
<main>
    <div class="banner">
        <div class="banner-content">
            <div class="banner-text">
                <p>A cross-platform IDE</p>
                <p>for end-to-end Web testing</p>
            </div>
            <div class="banner-buttons">
                <a class="get-ctp" href="#get-ctp">Get CTP Version</a>
                <a class="take-a-tour">Take a Tour<div class="play-icon"></div></a>
            </div>
        </div>
    </div>
    <div class="features-section">
        <div class="main-features-section">
            <div class="features-header">
                <div class="features-header-content">Features</div>
            </div>
            <div class="main-features-header"><span class="emphasis">Lightweight</span>, <span class="emphasis">fast</span> and <span class="emphasis">reliable automation</span></div>
            <div class="main-features">
                <div class="main-feature main-feature1 main-feature-icon"></div>
                <div class="main-feature main-feature1 main-feature-description">
                    <div class="main-feature-description-header">5 minutes to set up...</div>
                    <div class="main-feature-description-text">TestCafe Studio doesn't require WebDriver, browser plugins or other tools. Just install it and you are ready to test.</div>
                </div>
                <div class="main-feature main-feature2 main-feature-icon"></div>
                <div class="main-feature main-feature2 main-feature-description">
                    <div class="main-feature-description-header">...anywhere</div>
                    <div class="main-feature-description-text">TestCafe works on Windows, MacOS and Linux. Tests run in all popular browsers: desktop, mobile and cloud, with UI or headless.</div>
                </div>
            </div>
        </div>
        <div class="feature feature-odd feature-1">
            <div class="feature-content">
                <div class="feature-details">
                    <div class="feature-icon"></div>
                    <div class="feature-description">
                        <div class="header">Record tests<br/>instead of coding</div>
                        <div class="description">Create, edit and maintain end-to-end tests with a visual recorder</div>
                    </div>
                </div>
                <div class="feature-screenshot"></div>
            </div>
        </div>
        <div class="feature feature-even feature-2">
            <div class="feature-content">
                <div class="feature-screenshot"></div>
                <div class="feature-details">
                    <div class="feature-icon"></div>
                    <div class="feature-description">
                        <div class="header">Create stable tests<br/>with no manual timeouts</div>
                        <div class="description">A smart waiting mechanism automatically checks that page elements are loaded. You save time on adding manual timeouts and get more reliable tests.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature feature-odd feature-3">
            <div class="feature-content">
                <div class="feature-content-bound">
                    <div class="feature-details">
                        <div class="feature-icon"></div>
                        <div class="feature-description">
                            <div class="header">Save time working<br/>with selectors</div>
                            <div class="description">You won't need to manually choose and maintain element selectors. Instead, you click your way through the test case.</div>
                        </div>
                    </div>
                    <div class="feature-screenshot"></div>
                </div>
            </div>
        </div>
        <div class="feature feature-even feature-4">
            <div class="feature-content">
                <div class="feature-screenshot"></div>
                <div class="feature-details">
                    <div class="feature-icon"></div>
                    <div class="feature-description">
                        <div class="header">Work faster in<br/>a specialized environment</div>
                        <div class="description">TestCafe Studio is made to test web apps only, which means lightweight interface. We specialize to do one job and to do it well.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tweets-section">
        <div class="tweets-content">
            <div class="tweets-header">TestCafe Studio is based on an <a href="https://devexpress.github.io/testcafe/" target="_blank">open source testing tool</a> loved by web developers</div>
            <div class="tweets-gallery"></div>
        </div>
    </div>
    <div class="pricing-section" id="pricing">
        <div class="pricing-top">
            <div class="pricing-dot"></div>
            <div class="pricing-header">Pricing</div>
        </div>
        <div class="pricing-text">TestCafe Studio is currently available as a <span class="emphasis">Community Technology Preview version</span>, free of charge.<br/>In future our subscription prices will start from $50/month per user.</div>
    </div>
    <!-- <div class="get-ctp-section" id="get-ctp">
        <div class="get-ctp-form">
            <div class="get-ctp-header">Get CTP version</div>
            <div class="get-ctp-subheader">TestCafe Studio is currently available as a Community Technology Preview version.<br/>Fill this form and we'll send you the download link.</div>
            <form id="get-ctp-form" action="https://formcarry.com/s/Bk1ulIRsf" method="POST">
                <div class="get-ctp-form-inputs">
                    <input type="text" name="name" id="name" placeholder="Your name">
                    <input type="email" name="email" id="email" placeholder="E-mail">
                    <input type="hidden" name="_gotcha">
                </div>
                <input type="submit" value="Send me the link" id="send-link">
            </form>
            <div class="get-ctp-note">By submitting this form I agree to receive information from<br/>DevExpress as described in our <a href="/privacy/">Privacy Statement</a>.</div>
        </div>
    </div>
    <div class="get-ctp-confirmation" style="display:none">
        <div class="get-ctp-confirmation-header">Thank you for your interest!</div>
        <div class="get-ctp-confirmation-subheader">We'll send the download link to this email within a couple of days.</div>
    </div>   -->
</main>
{% include footer.html %}
<div class="veil-off">
    <div class="player">
        <div id="yt-iframe"></div>
        <!-- <iframe id="yt-iframe" width="853" height="480" src="https://www.youtube.com/embed/feuHWXJY_nE" frameborder="0" allowfullscreen=""></iframe> -->
    </div>        
</div>