---
layout: landing
title: A cross-platform IDE for end-to-end web testing
description: You can create and maintain tests without coding using the built-in Visual Test Recorder. TestCafe Studio does not require WebDriver, browser plugins or other tools. It works on Windows, macOS and Linux.
permalink: /
---
{% include youtube-video-init.html %}
<main>
    <div class="banner">
        <div class="banner-content">
            <div class="banner-text">
                <p>A cross-platform IDE</p>
                <p>for end-to-end Web testing</p>
            </div>
            <div class="banner-buttons">
                <a class="get-ctp" href="#get-ctp">Download</a>
                <a class="take-a-tour">Take a Tour<div class="play-icon"></div></a>
            </div>
        </div>
    </div>
    <div class="features-section">
        <div class="main-features-section">
            <div class="features-header">
                <div class="features-header-content">Features</div>
            </div>
            <div class="main-features-header"><span class="emphasis">Lightweight</span>, <span class="emphasis">fast</span> and <span class="emphasis">reliable automation</span></div>
            <div class="main-features">
                <div class="main-feature main-feature1 main-feature-icon"></div>
                <div class="main-feature main-feature1 main-feature-description">
                    <div class="main-feature-description-header">5 minutes to set up...</div>
                    <div class="main-feature-description-text">TestCafe Studio doesn't require a&nbsp;WebDriver, browser plugins or&nbsp;other tools. Simply install it and&nbsp;you are&nbsp;ready to&nbsp;start testing.</div>
                </div>
                <div class="main-feature main-feature2 main-feature-icon"></div>
                <div class="main-feature main-feature2 main-feature-description">
                    <div class="main-feature-description-header">...anywhere</div>
                    <div class="main-feature-description-text">TestCafe Studio works on&nbsp;Windows, MacOS and&nbsp;Linux. Tests can&nbsp;run across&nbsp;all popular browsers: desktop, mobile and&nbsp;cloud, with&nbsp;UI or&nbsp;headless.</div>
                </div>
            </div>
        </div>
        <div class="feature feature-odd feature-1">
            <div class="feature-content">
                <div class="feature-details">
                    <div class="feature-icon"></div>
                    <div class="feature-description">
                        <div class="header">Record tests<br/>instead of coding</div>
                        <div class="description">Create, edit and&nbsp;maintain end-to-end tests with&nbsp;TestCafe Studio's fully integrated visual test&nbsp;recorder.</div>
                    </div>
                </div>
                <div class="feature-screenshot"></div>
            </div>
        </div>
        <div class="feature feature-even feature-2">
            <div class="feature-content">
                <div class="feature-screenshot"></div>
                <div class="feature-details">
                    <div class="feature-icon"></div>
                    <div class="feature-description">
                        <div class="header">Create stable tests<br/>with no manual timeouts</div>
                        <div class="description">TestCafe Studio's intelligent wait mechanism automatically checks whether&nbsp;page elements are&nbsp;loaded. You'll save time and&nbsp;generate more reliable tests since there's no&nbsp;need to&nbsp;add manual timeouts.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature feature-odd feature-3">
            <div class="feature-content">
                <div class="feature-content-bound">
                    <div class="feature-details">
                        <div class="feature-icon"></div>
                        <div class="feature-description">
                            <div class="header">Save time working<br/>with selectors</div>
                            <div class="description">You won't need to&nbsp;manually choose and&nbsp;maintain element selectors. Instead, you&nbsp;click your way through&nbsp;the&nbsp;test case.</div>
                        </div>
                    </div>
                    <div class="feature-screenshot"></div>
                </div>
            </div>
        </div>
        <div class="feature feature-even feature-4">
            <div class="feature-content">
                <div class="feature-screenshot"></div>
                <div class="feature-details">
                    <div class="feature-icon"></div>
                    <div class="feature-description">
                        <div class="header">Work faster in<br/>a specialized environment</div>
                        <div class="description">TestCafe Studio was built to&nbsp;test web apps via&nbsp;a&nbsp;fast and&nbsp;lightweight user interface. We've&nbsp;left out&nbsp;the&nbsp;fluff and&nbsp;focused on&nbsp;the&nbsp;tools you'll need to&nbsp;simplify test automation within your enterprise.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tweets-section">
        <div class="tweets-content">
            <div class="tweets-header">TestCafe Studio is based on&nbsp;our&nbsp;<a href="https://devexpress.github.io/testcafe/" target="_blank">open source testing platform</a><br/>loved by web developers worldwide</div>
            <div class="tweets-gallery"></div>
        </div>
    </div>
    <div class="pricing-section" id="pricing">
        <div class="pricing-top">
            <div class="pricing-dot"></div>
            <div class="pricing-header">Pricing</div>
        </div>
        <div class="pricing-text">TestCafe Studio is&nbsp;currently available as&nbsp;a&nbsp;<span class="emphasis">Preview</span>.<br/>You can download it free of&nbsp;charge.<br/>All that we ask in&nbsp;return is&nbsp;your feedback and thoughts on&nbsp;the product.</div>
    </div>
    <div class="get-ctp-section" id="get-ctp">
        <div class="get-ctp-header">Download<br/>TestCafe Studio</div>
        <!-- <div class="get-ctp-subheader">To download TestCafe Studio CTP, you'll need a DevExpress account.<br/>Click one of the links below, and then log in or create a new account for free.</div> -->
        <a href="."><div class="download-button">Download for <span class="primary-os"></span></div></a>
        <div class="download-alternatives">Or download for <span class="alt-os-1"></span> | <span class="alt-os-2"></span> | <span class="alt-os-3"></span></div>
    </div>
</main>
{% include footer.html %}
<div class="veil-off">
    <div class="player">
        <div id="yt-iframe"></div>
    </div>        
</div>