---
---

article {
    overflow-y: auto;
    height: calc(100% - 80px);

    .post-content {
        max-width: 940px;
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 100px;
        padding: 0 40px;
    }
}

article {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.post-content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    min-width: 0;
    
    .footer-content {
        min-width: 0;
        max-width: 940px;
    }
}

.thank-you-page {
    margin-top: -20px;
    font-size: 18px;
    max-width: 665px;
    margin: 0 auto;

    .thank-you-top {
        text-align: center;
        padding-bottom: 60px;
        border-bottom: 3px solid #ededed;

        .thank-you-header {
            font-size: 48px;
            font-weight: bold;    
            color: rgba(42, 56, 82, 255);
            line-height: 53px;
        }
        .thank-you-subheader {
            color: rgba(109, 119, 137, 255);
            padding-top: 25px;
        }
    }
    .whats-next-section {
        padding-top: 43px;

        .whats-next-header {
            font-weight: bold;

        }
        .next-steps {
            line-height: 30px;
            padding-top: 2px;

            ul {
                list-style: none;

                li::before {
                    content: "\2022";
                    font-size: 30px;
                    color: #bdbec2;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                    vertical-align: text-bottom;
                }
            }
        }
    }
    .note {
        padding-top: 25px;
    }
}

