<header class="site-header minimized">
  <div class="site-header-content">
    <a class="site-logo" href="{{ site.baseurl }}/"></a>
    <nav class="site-nav">
        {% for menuItem in site.data.top-menu-items %}
          {% if menuItem.url == '/' %}
          <a class="page-link {% if menuItem.url == page.permalink %}active{% endif %}" href="{{ menuItem.url | prepend: site.baseurl }}">{{ menuItem.text }}</a>
          {% else %}
          {% capture highlightUrl %}{% if menuItem.highlightUrl %}{{ menuItem.highlightUrl }}{% else %}{{ menuItem.url }}{% endif %}{% endcapture %}
          <a class="page-link {% if page.url contains highlightUrl %}active{% endif %}" href="{% if menuItem.external %}{{ menuItem.url}}{% else %}{{ menuItem.url | prepend: site.baseurl }}{% endif %}">{{ menuItem.text }}</a>
          {% endif %}
          <span class="page-link-separator">|</span>
        {% endfor %}
      <!--<input type="text" placeholder="Search" id="search"/>-->
    </nav>

  </div>
</header>

{% if page.url contains '/documentation/' %}
  <div class="doc-top-nav">
    <div class="doc-top-nav-content">
    {% for menuItem in site.data.docs-top-menu %}
      <a class="{% if page.url contains menuItem.url %}active{% endif %}" href="{{ menuItem.url | prepend: site.baseurl }}">{{ menuItem.text }}</a>
      <span class="page-link-separator level-2">|</span>
    {% endfor %}
    </div>
  </div>
{% endif %}
